streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain_google_genai
langchain-community==0.0.1
pyttsx3
SpeechRecognition
pyaudio
sympy
gtts
pydub
ffmpeg
pvporcupine
portaudio19-dev
